@page "/"

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas registrado y autorizado como usuario: @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Estas registrado como anonimo: @context.User.Identity?.Name pero todavia no estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>