@page "/cuentas/edit/{CuentaId:int}"

<h3>Editar Cuenta</h3>

@if (cuenta is null)
{
    <Loading/>
}
else
{
    <CuentaForm @ref="cuentaForm" Cuenta="cuenta" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

