@page "/cuentas/{EmpresaId:int}"
@using WebJar.Shared.Servicios
@inject EmpresaService EmpresaService


@if (empresa == null)
{
    <Loading />
}
else
{
    <h3>@empresa.Nombre</h3>
    
    @* <GenericList MyList="empresa.Cuentas!.OrderBy(x => x.Codigo)
                                        .ToList()"> *@

    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas" /> Maestro de cuentas
                @* <a class="btn btn-primary btn-sm float-end" href="/cuentas/create/@empresa.Id">
                    <i class="bi bi-plus-square" /> Nuevo Codigo de Cuenta </a> *@
                <a class="btn btn-sm btn-primary float-end mx-1" @onclick=@(() => ShowModalAsync())>
                    <i class="bi bi-plus-square" /> Nuevo Codigo de Cuenta
                </a>
            </span>
        </div>
        <div class="card-body">
            <Filter PlaceHolder="Buscar cuenta..." Callback=@FilterCallBack />
            <GenericList MyList="LCuentas!">
                <Body>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Debe/Haber</th>
                                <th style="width:210px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cuenta in LCuentas!)
                            {
                                <tr>
                                    <td>@cuenta.Codigo</td>
                                    <td>@cuenta.Nombre</td>
                                    <td>@cuenta.DebeHaber</td>
                                    <td>
@*                                         <a class="btn btn-warning btn-sm" href="/cuentas/edit/@cuenta.Id">Editar</a>*@
                                        <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(cuenta.Id, true))>
                                            <i class="bi bi-pencil" />Editar
                                        </a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(cuenta))>Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    
                </Body>
            </GenericList>
        </div>
        <div class="card-footer">
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync"
                        RecordsNumber="SelectedRecordsNumberAsync" />
        </div>
    </div>
}
