@page "/empresas"

<h3>Mantenimiento Empresas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/empresas/create">Nueva Empresa</a>
</div>

<GenericList MyList="LEmpresas">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:300px">Nit</th>
                    <th style="width:800px">Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empresa in LEmpresas!)
                {
                    <tr>
                        <td>@empresa.Nit</td>
                        <td>@empresa.Nombre</td>
                        <td>
                            <a href="/empresas/edit/@empresa.Id"class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(empresa))>Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />
    </Body>
</GenericList>
