@page "/empresas"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> Mantenimiento de Empresas
            <a class="btn btn-primary btn-sm float-end" href="/empresas/create">
                <i class="bi bi-plus-square" /> Nueva Empresa
            </a>
            @* <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())>
                <i class="bi bi-plus-square" /> Nueva Empresa
            </a> *@

        </span>
    </div>
    <div class="card-body">
        <GenericList MyList="LEmpresas">
            <Body>
                <Filter PlaceHolder="Buscar empresa..." Callback=@FilterCallBack />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:300px">Nit</th>
                            <th style="width:800px">Nombre</th>
                            <th style="width:210px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var empresa in LEmpresas!)
                        {
                            <tr>
                                <td>@empresa.Nit</td>
                                <td>@empresa.Nombre</td>
                                <td>
                                    <a href="/empresas/edit/@empresa.Id" class="btn btn-warning">Editar</a>
@*                                     <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(empresa.Id, true))><i class="bi bi-pencil" />Editar</a>
 *@
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(empresa))>Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </Body>
        </GenericList>
    </div>
    <div class="card-footer">
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />
    </div>
</div>
