@page "/tiposconta"

<h3>Tipos de documentos contables</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/tiposconta/create">Nuevo Tipo de documento</a>
</div>
<GenericList MyList="LTiposConta">
    <Body>
        <Filter PlaceHolder="Buscar tipo de documento..." Callback=@FilterCallBack />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo Documento</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tiposConta in LTiposConta!)
                {
                    <tr>
                        <td>
                            @tiposConta.Nombre
                        </td>
                        <td>
                            <a href="/tiposconta/edit/@tiposConta.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(tiposConta))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />
    </Body>
</GenericList>
